<div id="container">
  <div id="content">
    <nav>
      <p #nav>Tic Tac Toe Game</p>
      <button
        [style.fontSize]="'1rem'"
        [class]="btnStartClass"
        (click)="newGame()"
        (click)="setColor(nav)"
      >
        New Game
      </button>
    </nav>

    <main>
      <div id="board">
        <app-square
          class="square"
          *ngFor="let val of squares; let i = index"
          [value]="val"
          (click)="makePlayerMove(i)"
        >
        </app-square>
      </div>
    </main>
  </div>

  <aside>
    <p *ngIf="winner">Player {{ winner }} won the game!</p>
    <p id="result"></p>
  </aside>
</div>
